<nz-layout>
    <nz-header>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item (click)="showProfile()"><i nz-icon nzType="user" nzTheme="outline"></i> <strong>{{user.username}}</strong>  </li>
        <li nz-menu-item (click)="logout()">Logout</li>
      </ul>
    </nz-header>
  </nz-layout>