nz-avatar {
  margin-top: 25px;
  margin-bottom: 40px;
}

.container {
  width: 400px;
  border-radius: 9px;
  border: 2px outset rgb(54, 126, 20);
  padding: 0 10px 10px 10px;
}

.window{
  height: 100%;
}

button{
  background-color: darkgreen;
  color: white;
}

div.button{
  margin-top: 30px;
}

button:hover{
  color: darkgreen;
}