<div class="window" fxLayoutAlign="center center">
<div class="container" fxLayout="column">
    <div class="icon" fxLayoutAlign="center center">
        <nz-avatar nzIcon="user" nzSize="100px" style="background-color:rgb(72, 143, 1);"></nz-avatar>
     </div>
    <div class="details">
        <h2>User Name: {{username}}</h2>
        <h2>Email: {{email}}</h2>
    </div>
    <div class="button" fxLayoutAlign="center center">
        <button nz-button nzType="default" (click)="return()">Back to Tasks</button>
    </div>

</div>
</div>