
.calender-section{
    width: 500px;
    margin-top: 20px;
    height: 300px;
}

.tasks-section{
    margin-top: 30px;
    width: 500px;
}

.task-list-button{
    margin-bottom: 5px;
    margin-right: 5px;
}

.tasks-list{
    margin-bottom: 50px;
}

i{
    color:#52c41a ;
}

button:hover i{
    color: darkgreen;
}

button:hover span{
    color: darkgreen;
}



.table-headings{
    background-color:rgb(72, 143, 1) ;
    color: white;
    border: 1px solid black;
    margin-bottom:2px ;
    height: 30px;
    padding: 0px;
}

.table-headings  span:nth-child(-n + 2) {
    border-right: 0.5px solid black;
      
}

.table-headings  span{
    min-height: 100%;
    text-align: center;
    padding-top: 4px;
}