<div class="container" fxLayout="row" fxLayoutAlign="space-evenly start">
<div fxLayout="column" fxLayoutAlign="center center" class="detail-section">
    <div class="calender-section">
      <full-calendar #calendar class="calender" defaultView="dayGridMonth" [plugins]="calendarPlugins"
        (dateClick)="handleDateClick($event)">
      </full-calendar>
    </div>
    <div class="tasks-section">
      <div *ngIf="isLoaded && isClicked ">
        <div *ngIf="tasks.length>0 ; else noData" class="tasks-list">
          <div class="task-list-button" fxLayoutAlign="end center">
            <button *ngIf="!hideButton" nz-button nzType="default" (click)="createTask()">
              <i nz-icon nzType="plus" nzTheme="outline" ></i>
            </button>
          </div>
          <nz-table style="width: 500px;" #taskList [nzData]="tasks" [nzTotal]="tasks.length" [nzPageSize]="4" [nzHideOnSinglePage]="true">
            <thead style="width: 500px;">
              <tr style="width: 500px;">
                <div class="table-headings" fxLayoutAlign="space-around center" >
                  <span fxFlex="5%"></span>
                  <span fxFlex="70%">Task</span>
                  <span fxFlex="25%">TimeSpent</span>
                </div>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of taskList.data">
                <app-task (taskRemover)="deleteTask($event)" (taskEditor)="editTask($event)" [task]="task">
                </app-task>
              </tr>
            </tbody>
          </nz-table>
        </div>
        <ng-template #noData>
          <div class="no-task" fxLayout="row" fxLayoutAlign="space-between start">
            <div class="no-task-message" fxFlex="80%" fxFlexOffset="25">
              <nz-empty [nzNotFoundContent]="contentTpl">No tasks created for this date</nz-empty>
              <ng-template #contentTpl>
                <span><strong>No tasks created for this date</strong></span>
              </ng-template>
            </div>
            <div class="no-task-button" fxFlex>
              <button *ngIf="!hideButton" nz-button nzType="default" (click)="createTask()">
                <i nz-icon nzType="plus" nzTheme="outline"></i>
                <span>Create Task</span></button>
            </div>
          </div>
        </ng-template>
      </div>
      <div *ngIf="!isLoaded && isClicked" fxLayoutAlign="center center">
        <i nz-icon nzType="loading" nzTheme="outline" style="color:rgb(54, 126, 20); font-size: 30px;"></i>
      </div>
    </div>
    <div class="modal">
      <add-task [date]="date"></add-task>
    </div>
  </div>
  <div class="list-section">
    <task-list [taskList]="taskList"></task-list>
  </div>
</div>

  