.container{
    width: 400px;
    border-radius: 9px;
    border: 2px outset rgb(54, 126, 20);
    padding: 0 10px 10px 10px;
    margin-top: 50px;
    max-height: 500px;
    overflow: auto;
}

p.date{
    margin-bottom: 0px;
}
p.title{
    margin-bottom: 5px;
}

i{
    margin-left: 14px;
    margin-top: 5px;
    font-size: 30px;
    cursor: pointer;
    color:#52c41a ;
}

i:hover{
    color: darkgreen;
}
