<div class="container">
  <h1>
    <span>Tasks Assigned for 7 Days</span>
    <i nz-icon (click)="refresh()" nzType="redo" nzTheme="outline"></i>
  </h1>
  <div class="all-days" *ngIf="taskList.length>0; else noData">
    <div class="today">
      <h2>Today</h2>
      <div *ngIf="taskList[0].length>0; else noTask">
        <ol>
          <li *ngFor="let task of taskList[0]">{{task.title}}</li>
        </ol>
      </div>
      <ng-template #noTask>
        <p>No Task are Assigned for Today</p>
      </ng-template>
    </div>
    <div class="tomorrow">
      <h2>Tomorrow</h2>
      <div *ngIf="taskList[1].length>0; else noTaskTomorrow">
        <ol>
          <li *ngFor="let task of taskList[1]">{{task.title}}</li>
        </ol>
      </div>
      <ng-template #noTaskTomorrow>
        <p>No Task are Assigned for Tommorow</p>
      </ng-template>
    </div>
    <div class="remaining-days">
      <h2>Upcoming</h2>
      <div
        *ngIf="taskList[2].length>0||taskList[3].length>0||taskList[4].length>0||taskList[5].length>0||taskList[6].length>0 ; else noTaskRemainingDays">
        <ol>
          <div *ngIf="taskList[2].length>0">
            <li *ngFor="let task of taskList[2]">
              <p class="date">{{showDate(task.date)}}</p>
              <p class="title">{{task.title}}</p>
            </li>
          </div>
          <div *ngIf="taskList[3].length>0">
            <li *ngFor="let task of taskList[3]">
              <p class="date">{{showDate(task.date)}}</p>
              <p class="title">{{task.title}}</p>
            </li>
          </div>
          <div *ngIf="taskList[4].length>0">
            <li *ngFor="let task of taskList[4]">
              <p class="date">{{showDate(task.date)}}</p>
              <p class="title">{{task.title}}</p>
            </li>
          </div>
          <div *ngIf="taskList[5].length>0">
            <li *ngFor="let task of taskList[5]">
              <p class="date">{{showDate(task.date)}}</p>
              <p class="title">{{task.title}}</p>
            </li>
          </div>
          <div *ngIf="taskList[6].length>0">
            <li *ngFor="let task of taskList[6]">
              <p class="date">{{showDate(task.date)}}</p>
              <p class="title">{{task.title}}</p>
            </li>
          </div>
        </ol>
      </div>
      <ng-template #noTaskRemainingDays>
        <p>No Task are Assigned</p>
      </ng-template>
    </div>
  </div>
  <ng-template #noData>
    <div class="no-task-message">
      <nz-empty [nzNotFoundContent]="contentTpl">Tasks </nz-empty>
      <ng-template #contentTpl>
        <p><strong>No tasks are Assigned</strong></p>
      </ng-template>
    </div>
  </ng-template>
</div>
