.container {
  width: 400px;
  border-radius: 9px;
  border:2px outset rgb(54, 126, 20);
  padding: 0 10px 10px 10px;
}

.loginForm {
  height: 168px;
}

nz-form-item:last-child {
  margin: 0px;
}

.window{
  height: 100%;
}

button{
  background-color: rgb(54, 126, 20);
}

nz-tabset{
  color: rgb(54, 126, 20);
}











