<div class="window" fxLayoutAlign="center center">
  <div class="container">
      <nz-tabset [nzTabBarStyle]="{'text-align': 'center'}" [nzType]="'line'">
          <nz-tab [nzTitle]="'Sign Up'" >
          <form class="signUpForm" nz-form [formGroup]="signUpForm" (ngSubmit)="onRegister()">
            <nz-form-item>
              <nz-form-label [nzSpan]="8" nzFor="username">Username</nz-form-label>
              <nz-form-control [nzSpan]="16" nzErrorTip="Username is required!">
                <input nz-input formControlName="username" id="username" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="8" nzFor="email">E-mail</nz-form-label>
              <nz-form-control [nzSpan]="16" nzErrorTip="Please provide a valid E-mail!">
                <input nz-input formControlName="email" id="email" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="8" nzFor="password">Password</nz-form-label>
              <nz-form-control [nzSpan]="16" [nzErrorTip]=errorPassTpl>
                <input nz-input type="password" id="password" formControlName="password"
                  (ngModelChange)="updateConfirmValidator()" />
                <ng-template #errorPassTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please input your password!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('minlength')">
                    Passwords must be atleast 8 characters!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('maxlength')">
                    Passwords can be maximum 250 characters long!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="8" nzFor="checkPassword">Confirm Password</nz-form-label>
              <nz-form-control [nzSpan]="16" [nzErrorTip]="errorCheckTpl">
                <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
                <ng-template #errorCheckTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please confirm your password!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('confirm')">
                    Passwords do not match!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
              <nz-form-control fxLayoutAlign="end">
                <button nz-button nzType="primary">Register</button>
              </nz-form-control>
            </nz-form-item>
          </form>
        </nz-tab>
        <nz-tab [nzTitle]="'Login'">
          <form class="loginForm" nz-form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="email">E-mail</nz-form-label>
              <nz-form-control [nzSpan]="18" nzErrorTip="Please provide a valid E-mail!">
                <input nz-input formControlName="email" id="email" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="password">Password</nz-form-label>
              <nz-form-control [nzSpan]="18" [nzErrorTip]=errorPassTpl>
                <input nz-input type="password" id="password" formControlName="password"
                  (ngModelChange)="updateConfirmValidator()" />
                <ng-template #errorPassTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please input your password!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('minlength')">
                    Passwords must be atleast 8 characters!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('maxlength')">
                    Passwords can be maximum 250 characters long!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
              <nz-form-control fxLayoutAlign="end">
                <button nz-button nzType="primary">Login</button>
              </nz-form-control>
            </nz-form-item>
          </form>
        </nz-tab>
      </nz-tabset>
    </div> 
</div>
