<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" (nzOnCancel)="handleCancel()"
  [nzFooter]="null">

  <ng-template #modalTitle>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h4 style="margin-top: 20px;">{{modalType}}</h4>
      <h4 style="margin-right: 40px; margin-top: 20px;">{{dateShow()}}</h4>
    </div>
  </ng-template>

  <ng-template #modalContent>
    <form nz-form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="title">Title</nz-form-label>
        <nz-form-control nzErrorTip="Title must be between 3 to 40 characters">
          <input nz-input formControlName="title" id="title" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="description">Description</nz-form-label>
        <nz-form-control nzErrorTip="Description can't be greater than 250 characters">
          <textarea nz-input formControlName="description" rows="3" id="description"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item >
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px">
          <nz-form-label nzRequired nzFor="timeSpent" style="width: 100px;">Time Spent</nz-form-label>
          <nz-time-picker [nzDisabled]="disableTimeSpent" formControlName="timeSpent" id="timeSpent"></nz-time-picker>
        </div>
      </nz-form-item>
      <div fxLayoutAlign="end">
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" type="submit" [disabled]="!taskForm.valid"
              [nzLoading]="isOkLoading">Submit</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </ng-template>

</nz-modal>
