.container{
    border: 1px solid;
    margin-bottom: 2px;
    width: 500px;

}


h4{
    margin-top: 3px ;
    margin-bottom: 0px;
}

h3{
    margin:1px
}

.sec:nth-child(2) {
    border-left:1px solid ;
    border-right: 1px solid;
}

i{
    margin-bottom: 4px;
    margin-top: 1px;
    font-size: medium;
    cursor: pointer;
    color:#52c41a ;
}

i:hover{
    color: darkgreen;
}


.text-section > div{
    padding-left: 10px;
}

.text-section > div >p{
    word-wrap: break-word;
    padding-right: 1px;
    padding-left: 1px;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 0px;
}

