<div class="container" fxLayout="row" fxLayoutAlign="center">
  <div class="action-section sec" fxFlex="5%" fxLayout="column" fxLayoutAlign="center center">
    <div><i nz-icon (click)="editTask()" nzType="edit"  nzTheme="outline"></i></div>
    <div><a nz-popconfirm nzTitle="Sure to delete?" (nzOnConfirm)="deleteTask()">
        <i nz-icon nzType="delete" nzTheme="outline" ></i>
      </a></div>
  </div>
  <div class="text-section sec" fxFlex="70%">
    <div  fxLayout="column" >
      <h4>{{task.title}}</h4>
      <p>{{task.description}}</p>
    </div>
  </div>

  <div class="timer-section sec" fxFlex="25%" fxLayout="column" fxLayoutAlign="space-around center">
    <div>
      <h3>{{timeSpent}}</h3>
    </div>
    <div *ngIf="!hideControls" fxLayout fxLayoutGap="15px">
      <i nz-icon (click)="startTimer()" nzType="play-circle" nzTheme="outline" ></i>
      <i nz-icon (click)="stopTimer()" nzType="pause-circle"  nzTheme="outline" ></i>
      <i nz-icon (click)="saveTime()" nzType="save"  nzTheme="outline"></i>
    </div>
  </div>
</div>
